<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.windows.forms jitDebugging="false" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Free memory threshold" value="1.5" />
    <!-- Gigabytes -->
    <add key="Memory pressure" value="0.9" />
    <!-- Percentage multiplier (0 to 1)= -->
    <add key="Disk queue weight" value="2" />
    <!-- Multiplier on queue length. Most noticeable factor on disk performance degrading. -->
    <add key="Disk delay weight" value=".1" />
    <!-- Multiplier on the milliseconds. This doesn't mean much if the queue is not increasing. -->
    <add key="Split I/O weight" value=".5" />
    <!-- Multiplier on split I/O. Mostly indicator of fragmentation than performance. -->
    <add key="Small bars" value="false" />
  </appSettings>
</configuration>